@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}
body{
    background: linear-gradient(45deg, #8e2de2,#4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    
    min-width: 50vh;
    min-height: 25vw;
    background:white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba (0,0,0,0.2);
}

form{
    display: flex;
    flex-direction: column;
    
}
input{
    padding: 10px;
    margin:10px
    
}
button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
   
    
}
button:hover{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    background:#4a00e0;
    color: white;
}
#resultadoCalculo{
    font-weight: bold;
}
.calculo{

     text-align: center;
    background-color: #4a00e0;
    margin-top: 30px;
    padding:10px;
    border-radius: 10px;
    color: white;

}
.info{

    text-align: center;
    margin-top: 30px;
  
}
 
.tabela, td, th{
    padding:10px ;
    border-collapse: collapse;
    border: 1px solid rgb(160 160 160);
}
.magreza{

  background-color: rgb(123, 123, 248);
  color: white;
  
}
.normal{

    background-color: rgb(123, 248, 144);
    color: white;
    
  }
.sobrepeso{

    background-color: rgb(253, 255, 155);
}
.obesidade{

    background-color: rgb(248, 162, 104);
}
.obesidadeGrave{

    background-color: rgb(248, 104, 104);
}